<header class="page-header inner">
  <div class="container animate-up">
    <a style="cursor: pointer;" onclick="toBack()" class="back">
      <img src="/images/back.svg" alt="Voltar" />
    </a>
    <h1>Error</h1>
  </div>
</header>

<div class="container flex animate-up delay-2">
  <aside class="card error">
    <p>Error <span>{{status}}</span></p>
    <h2>{{message}}</h2>
    <img src="https://copycon.com.br/wp-content/uploads/2018/07/o-maior-erro-no-marketing-300x336.png" />
  </aside>

</div>

<script>
  function toBack() {
    window.history.back();
  }
</script>